
$bg: #fff;
$bg-accent: #484a4d;
$text-color: black;
$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms; 

.icon-button {
    // --button-size: calc(var($nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: lightgray;
    border-radius: $border-radius;
    padding: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: rgb(153, 151, 151);
    }

}

.notification-dropdown {
    position: absolute;
    top: 55px;
    width: 400px;
    transform: translateX(-33%);
    background-color: white;
    border-radius: 8px;
    padding: 0.3rem;
    z-index: 200 !important;
}

.notification-title {
    font-size: 26px;
    position: relative;
    font-weight: bold;
    top: 10px;
    left: 20px;
}

