ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.icon-button {
    background-color: lightgray;
    border-radius: 50%;
    padding: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 300ms;
    width: 50px;
    height: 50px;

    svg {
        fill: grey;
        width: 20px;
        height: 20px;
    }
}

.dropdown {
    position: absolute;
    top: 65px;
    width: 300px;
    transform: translateX(-30%);
    background-color: white;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
}