.search {
    margin: 0 auto;
    width: 50%;
    display: flex;
    padding: 25px 15px;
    flex-direction: column;
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
    height: 100vh;
}

.search-title {
    font-weight: bold;
}
