.comment {
  display: flex;
  margin: 10px 10px;
}

.comment__info {
  flex: 1;
  outline-width: 0;
  border: none;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #eff2f5;
  h6 {
    font-size: small;
  }

  p {
    font-size: medium;
  }
}
