$button-color: #eff2f5;

.createPost {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.createPost__top {
  display: flex;
  border-bottom: 1px solid $button-color;
  padding-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;

  form {
    flex: 1;
    display: flex;
    width: 100%;
    object-fit: contain;

    input {
      flex: 1;
      outline-width: 0;
      border: none;
      padding: 5px 20px;
      margin: 0 10px;
      border-radius: 999px;
      background-color: $button-color;
      width: 100%;
    }

    button {
      display: none;
    }
  }
}

.createPost__bottom {
  display: flex;
  justify-content: space-evenly;

  .createPost__button {
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;

    &:hover {
      background-color: $button-color;
      border-radius: 20px;
    }

    h3 {
      font-size: medium;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 530px) {
   .createPost__button {
    padding: 10px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
   }
}