.add-friend-button {
    display: flex;
    flex-direction: row;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgb(228, 230, 235)
}