.homepage__body {
  margin: 0 auto;
  width: 800px;
}

@media screen and (max-width: 875px) {
    .homepage__body {
      width: 90%;
    }
}

// @media screen and (max-width: 650px) {
//   .homepage__body {
//     width: 500px;
//   }
// }

// @media screen and (max-width: 550px) {
//   .homepage__body {
//     width: 450px;
//   }
// }

// @media screen and (max-width: 450px) {
//   .homepage__body {
//     width: 430px;
//   }
// }

